#wrapper{
   width: 800px;
    height: 380px;
    border: 1px solid red;
    margin: 0 auto;
    /* background: url(star.png); */
}

#menu{
    width: 80%;
    height: 30px;
    margin: 10px auto;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
#menu a {
    display: block;
    width: 60px;
    padding: 2px;
    margin: 4px;
}
#menu a:link, #menu a:visited {
  color: #F6E7CB;
  text-decoration: none;
    background-color: #678D58;
}
#menu a:hover{
  color: #678D58;
  text-decoration: none;
    background-color: #F6E7CB;
}

#menu li{
    display: inline;
    float: left;
}

#content{
    width: 99%;
    height: auto;
}
#home{
     width: 99%;
    height: 300px;
    background-color: greenyellow;
}
#news{
     width: 99%;
    height: 300px;
    background-color: green;
}
#contact{
     width: 99%;
    height: 300px;
    background-color: red;
}
#about{
     width: 99%;
    height: 300px;
    background-color: blue;
}